@mixin box-shadow($top: 0px, $left: 1px, $blur: 2px, $color: $companyname_form_field_text_color, $inset: false) {
  @if $inset {
    box-shadow:inset $top $left $blur $color;
  } @else {
    box-shadow: $top $left $blur $color;
  }
}

.#{$ns}-input {

  input {
    font-size: 1rem;
    padding: $default_padding*3;
    margin: 0;
    text-align: left;
    width: 100%;
    color: $companyname_text_color;
    border: 1px solid $companyname_light_grey;
    border-radius: $default_border_radius;

    &:hover, &:active, &:focus {
        @include border(1px, solid, $companyname_darker_blue, "");
    }

    &:disabled {
      background-color: $companyname_lighter_grey;
      @include border(1px, solid, $companyname_light_grey, "");
    }
  }

  &.#{$ns}-input-error input{
    border: 1px solid $companyname_red;
    color: $companyname_red;

    &:hover, &:active, &:focus {
        @include border(1px, solid, $companyname_red, "");
        outline: none;
      }
  }
}

.#{$ns}-floating-input {
  position: relative;

  input {
    font-size: 1rem;
      padding: $default_padding*3;
      margin: 0;
      text-align: left;
      width: 100%;
      color: $companyname_text_color;
      border: 1px solid $companyname_light_grey;
      border-radius: $default_border_radius;

      &:hover, &:active, &:focus {
        @include border(1px, solid, $companyname_darker_blue, "");
      }

    &:disabled {
        background-color: $companyname_lighter_grey;
        @include border(1px, solid, $companyname_light_grey, "");
      }  
  }

  &.#{$ns}-input-error {
      input {
        border: 1px solid $companyname_red;
        color: $companyname_red;

        &:hover, &:active, &:focus {
            @include border(1px, solid, $companyname_red, "");
            outline: none;
          }
      }

      > label {
        color: $companyname_red;
      }
  }

  > label {
      position: absolute;
      top: 0;
      left: 0;
      padding: $default_padding*3 $default_padding*2;
      font-size: 100%;
      pointer-events: none;
  }

    input:focus + label {
      padding: $default_padding*0 $default_padding*2;
      font-size: 75%;
      transition: all 0.1s ease-in-out;
  }
}
