<!-- Module article-->
<article class="libraryuidocs-module-article" id="demolinks">
    <div class="libraryuidocs-module-article-header">
        <h1 class="libraryuidocs-module-article-title libraryuidocsh1">Demo Pages</h1>
    </div>
    <section class="libraryuidocs-module-article-content">

    	<!-- Your Element/Sub elements starts here -->
		<div class="libraryuidocs-partials">
			<h2 class="libraryuidocs-partials-title libraryuidocsh2">sub title</h2>
			<!-- Your element code starts here -->
			<div>
				<ul>
					<li><a href="../staging/demo/homepage.html" target="_blank">Homepage</li>
				</ul>
			<!-- Your element code ends here -->
		</div>
    </section>
</article>
<!-- End Module article-->

