<!-- Module article-->
<article class="libraryuidocs-module-article" id="footer">
    <div class="libraryuidocs-module-article-header">
        <h1 class="libraryuidocs-module-article-title libraryuidocsh1">Footer</h1>
    </div>
    <section class="libraryuidocs-module-article-content">
        <!-- Your Element/Sub elements starts here -->
        <div class="libraryuidocs-partials">
            <h2 class="libraryuidocs-partials-title libraryuidocsh2">Footer Demo</h2>
            <!-- Your element code starts here -->
            <!--            <footer>
                <div class="classnameui-footer">
                    <div class="container-fluid">
                        <section class="">©&nbsp;Copyright 2016 library Corp, Inc. All rights reserved.</section>
                    </div>
                </div>
           </footer> -->
            <footer>
                <div class="classnameui-footer">
                    <div class="container-fluid">
                        <div><img src="libraryuidocs/assets/library-logo-footer.png"></div>
                        <div>©&nbsp;Copyright 2016 MyCompany Corp, Inc. All rights reserved.</div>
                    </div>
                </div>
            </footer>
            <!-- Your element code ends here -->
            <!-- code snippet come below -->
            <div class="libraryuidocs-partials-code">
                <span class="libraryuidocs-partials-code-title">Code</span>
                <pre class="prettyprint"><code class="lang-html" style="display:inline-block"></code></pre>
            </div>
        </div>
    </section>
</article>
<!-- End Module article-->