<!-- Module article-->
<article class="libraryuidocs-module-article" id="header">
    <div class="libraryuidocs-module-article-header">
        <h1 class="libraryuidocs-module-article-title libraryuidocsh1">Header</h1>
    </div>
    <section class="libraryuidocs-module-article-content">

        <!-- Your Element/Sub elements starts here -->
        <div class="libraryuidocs-partials">
            <h2 class="libraryuidocs-partials-title libraryuidocsh2">Header Demo</h2>
            <!-- Your element code starts here -->
            <header>
                <div class="classnameui-header">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="classnameui-logo-wrapper">
                                    <a class="classnameui-logo">MyCompany</a>
                                    <span class="classnameui-logo-text">Pattern Library</span>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 hidden-xs">
                                <div class="classnameui-menu-wrapper">
                                    <div class="classnameui-header-list">
                                        <ul>
                                            <li><a class="active" href="libraryuidocs/partials/foundation.html">Foundation</a></li>
                                            <li><a href="libraryuidocs/partials/elements.html">Elements</a></li>
                                            <li><a href="libraryuidocs/partials/modules.html">Modules</a></li>
                                            <li><a href="libraryuidocs/partials/layouts.html">Layouts</a></li>
                                            <li class="classnameui-setup"><a href="libraryuidocs/partials/setup.html"><i class="fa fa-file-text-o"> </i></a></li>
                                            <li class="classnameui-download"><a id="download" href="../libraryui.zip"><i class="fa fa-download"> </i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </header>
            <!-- Your element code ends here -->
            <!-- code snippet come below -->
            <div class="libraryuidocs-partials-code">
                <span class="libraryuidocs-partials-code-title">Code</span>
                <pre class="prettyprint"><code class="lang-html" style="display:inline-block" ></code></pre>
            </div>
        </div>
    </section>
</article>
<!-- End Module article-->

