<!-- Module article-->
<article class="libraryuidocs-module-article" id="swatch">
    <div class="libraryuidocs-module-article-header">
        <h1 class="libraryuidocs-module-article-title libraryuidocsh1">Swatch</h1>
    </div>
    <section class="libraryuidocs-module-article-content">
        <!-- Your Element/Sub elements starts here -->
        <div class="libraryuidocs-partials">
            <h2 class="libraryuidocs-partials-title libraryuidocsh2">Primary Colors</h2>
            <!-- Your element code starts here -->
            <div class="row">
                <div class="col-xs-3">
                    <div class="libraryuidocs-swatch classnameui-darkerblue"></div>
                    <p class="libraryuidocs-swatch-p"><span>Darker blue</span> #005984
                        <br>".classnameui-darkerblue"</p>
                </div>
                <div class="col-xs-3">
                    <div class="libraryuidocs-swatch classnameui-darkblue"></div>
                    <p class="libraryuidocs-swatch-p"><span>Dark blue</span> #0073ae<br>".classnameui-darkblue"</p>
                </div>
                <div class="col-xs-3">
                    <div class="libraryuidocs-swatch classnameui-blue"></div>
                    <p class="libraryuidocs-swatch-p"><span>Blue</span>  #00a4e4<br>".classnameui-blue"</p>
                </div>
                <div class="col-xs-3">
                    <div class="libraryuidocs-swatch classnameui-lightblue"></div>
                    <p class="libraryuidocs-swatch-p"><span>Light blue</span> #50c8e8<br>".classnameui-lightblue"</p>
                </div>
                <div class="col-xs-3">
                    <div class="libraryuidocs-swatch classnameui-lighterblue"></div>
                    <p class="libraryuidocs-swatch-p"><span>Lighter blue</span> #ade0ee<br>".classnameui-lighterblue"</p>
                </div>
            </div>
            <!-- Your element code ends here -->
        </div>

        <!-- Your Element/Sub elements starts here -->
        <div class="libraryuidocs-partials">
            <h2 class="libraryuidocs-partials-title libraryuidocsh2">Shades of Grey</h2>
            <!-- Your element code starts here -->
            <div class="row">
                <div class="col-xs-3">
                    <div class="libraryuidocs-swatch classnameui-darkergrey"></div>
                    <p class="libraryuidocs-swatch-p"><span>Darker grey</span> #333333b<br>".classnameui-darkergrey"</p>
                </div>
                <div class="col-xs-3">
                    <div class="libraryuidocs-swatch classnameui-darkgrey"></div>
                    <p class="libraryuidocs-swatch-p"><span>Dark grey</span> #76777b<br>".classnameui-darkgrey"</p>
                </div>
                <div class="col-xs-3">
                    <div class="libraryuidocs-swatch classnameui-grey"></div>
                    <p class="libraryuidocs-swatch-p"><span>Grey</span> #a8a8aa<br>".classnameui-grey"</p>
                </div>
                <div class="col-xs-3">
                    <div class="libraryuidocs-swatch classnameui-lightgrey"></div>
                    <p class="libraryuidocs-swatch-p"><span>Light grey</span> #d1d0ce<br>".classnameui-lightgrey"</p>
                </div>
                <div class="col-xs-3">
                    <div class="libraryuidocs-swatch classnameui-lightergrey"></div>
                    <p class="libraryuidocs-swatch-p"><span>Lighter grey</span> #f0f0f0<br>".classnameui-lightergrey"</p>
                </div>
            </div>
            <!-- Your element code ends here -->
        </div>

<!-- Your Element/Sub elements starts here -->
        <div class="libraryuidocs-partials">
            <h2 class="libraryuidocs-partials-title libraryuidocsh2">Other Colors</h2>
            <!-- Your element code starts here -->
            <div class="row">
                <div class="col-xs-3">
                    <div class="libraryuidocs-swatch classnameui-green"></div>
                    <p class="libraryuidocs-swatch-p"><span>Green</span> ##558B2F<br>".classnameui-green"</p>
                </div>
                <div class="col-xs-3">
                    <div class="libraryuidocs-swatch classnameui-orange"></div>
                    <p class="libraryuidocs-swatch-p"><span>Orange</span> #e36f1e<br>".classnameui-orange"</p>
                </div>
                <div class="col-xs-3">
                    <div class="libraryuidocs-swatch classnameui-yellow"></div>
                    <p class="libraryuidocs-swatch-p"><span>Yellow</span> #fdb913<br>".classnameui-yellow"</p>
                </div>
                <div class="col-xs-3">
                    <div class="libraryuidocs-swatch classnameui-brown"></div>
                    <p class="libraryuidocs-swatch-p"><span>Brown</span> #886146<br>".classnameui-brown"</p>
                </div>
                <div class="col-xs-3">
                    <div class="libraryuidocs-swatch classnameui-grape"></div>
                    <p class="libraryuidocs-swatch-p"><span>Grape</span> #b0237c<br>".classnameui-grape"</p>
                </div>
            </div>
            <!-- Your element code ends here -->

        </div>

    </section>
</article>
<!-- End Module article-->