<div class="classnameui-card classnameui-card-horizontal">
    <div class="classnameui-card-image">
        <img alt="" src="assets/images/landscape.jpg">
    </div>
    <div class="classnameui-card-content">
        <div class="classnameui-content-section">
            <h3><a href="">The card title</a></h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.. </p>
        </div>
        <div class="classnameui-content-link">
            <a href="">Read More</a>
        </div>
    </div>
</div>