/*
 * Theme For the library UI Library
 */
$ns: "libraryuidocs";

/*
 * library Standard Colors for library UI Library
 */

$library_cool_grey_6: #a8a8aa;


$padding: 5px;
$margin: 5px;

$default_lr_margin: $margin*6;
$default_tb_margin: $margin*6;

$default_lr_padding: $padding*6;
$default_tb_padding: $padding*6;

$font_family_docs: Roboto;
$font_family_code: Menlo,Monaco,Consolas,"Courier New",monospace;