<!-- Module article-->
<article class="libraryuidocs-module-article" id="buttons">
    <div class="libraryuidocs-module-article-header">
        <h1 class="libraryuidocs-module-article-title libraryuidocsh1">Buttons</h1>
    </div>
    <section class="libraryuidocs-module-article-content">

    	<!-- Your Element/Sub elements starts here -->
		<div class="libraryuidocs-partials">
			<h2 class="libraryuidocs-partials-title libraryuidocsh2">Default set of Buttons and some shapes</h2>
            <p>Various flavors of buttons which can eb used in as form elements</p>
            <p>Here in the default buttons the width is managed by the content typed inside the button</p>
			<div class="row">
				<div class="col-sm-3">
					<h4>Button Default</h4>
					<!-- Your element code starts here -->
					<button class="classnameui-button" type="button">Default</button>
					<!-- Your element code end here -->
				</div>
				<div class="col-sm-3">
					<h4>Button Default Disabled</h4>
					<!-- Your element code starts here -->
					<button class="classnameui-button" type="button" disabled="">Disabled</button>
					<!-- Your element code ends here -->
				</div>
				<div class="col-sm-3">
					<h4>Button Oval</h4>
					<!-- Your element code starts here -->
					<button class="classnameui-button classnameui-oval" type="button">Button oval</button>
					<!-- Your element code end here -->
				</div>
				<div class="col-sm-3">
					<h4>Button Small</h4>
					<!-- Your element code starts here -->
					<button class="classnameui-button classnameui-small" type="button">Small button</button>
					<!-- Your element code end here -->
				</div>
			</div>
		<!-- code snippet come below -->
			<div class="libraryuidocs-partials-code">
				<span class="libraryuidocs-partials-code-title">Code</span>
				<pre class="prettyprint"><code class="lang-html" style="display:inline-block" ></code></pre>
			</div>
		</div>


    	<!-- Your Element/Sub elements starts here -->
		<div class="libraryuidocs-partials">
			<h2 class="libraryuidocs-partials-title libraryuidocsh2">Buttons with icons</h2>
            <p>Often times for beter user experience we need buttons with icons embedded with it, this helps tell the user visually what sort of actions they are about to perform.</p>
            <p>For the purpose of placing icons we have used icons from the "fontawesome" library.</p>
            <p>You also use icons within variety of shapes and sizes, as you will see below we have used 'default' and 'oval' shaped for showing some examples.</p>
			<div class="row">
				<div class="col-sm-3">
					<h4>Button default with 'Add' icon</h4>
					<!-- Your element code starts here -->
					<button class="classnameui-button" type="button"><i class="classnameui-icon classnameui-button-icon-right fa fa-plus-circle"></i>Add</button>
					<!-- Your element code end here -->
				</div>
				<div class="col-sm-3">
					<h4>Button default with 'Edit' icon</h4>
					<!-- Your element code starts here -->
					<button class="classnameui-button" type="button"><i class="classnameui-icon classnameui-button-icon-right fa fa-pencil-square-o"></i>Edit</button>
					<!-- Your element code ends here -->
				</div>
				<div class="col-sm-3">
					<h4>Button small with 'Done' icon</h4>
					<!-- Your element code starts here -->
					<button class="classnameui-button classnameui-small" type="button"><i class="classnameui-icon classnameui-button-icon-right fa fa-check-circle"></i>Done</button>
					<!-- Your element code end here -->
				</div>
				<div class="col-sm-3">
					<h4>Button oval with 'Search' icon</h4>
					<!-- Your element code starts here -->
					<button class="classnameui-button classnameui-oval" type="button">Search<i class="classnameui-icon fa fa-search"></i></button>
					<!-- Your element code end here -->
				</div>
			</div>
		<!-- code snippet come below -->
			<div class="libraryuidocs-partials-code">
				<span class="libraryuidocs-partials-code-title">Code</span>
				<pre class="prettyprint"><code class="lang-html" style="display:inline-block" ></code></pre>
			</div>
		</div>

		<!-- Your Element/Sub elements starts here -->
		<div class="libraryuidocs-partials">
			<h2 class="libraryuidocs-partials-title libraryuidocsh2">Button Fluid</h2>
			<p>If a button with full width of the row column needed irrespective of the the wrtten content inside the button, then we can use 100% fluid width buttons</p>
			<p>In the example below they are placed within a "col-sm-6" thus rendered as 50% width</p>
			<div class="row">
				<div class="col-sm-6">
					<h4>Button with fluid width</h4>
					<!-- Your element code starts here -->
					<button class="classnameui-button classnameui-fluid" type="button">Full width button</button>
					<!-- Your element code ends here -->
				</div>
				<div class="col-sm-6">
					<h4>Button with fluid width and icon</h4>
					<!-- Your element code starts here -->
					<button class="classnameui-button classnameui-fluid" type="button">Full width button
						<i class="classnameui-icon classnameui-icon-spinner fa fa-refresh fa-spin"></i>
					</button>
					<!-- Your element code ends here -->
				</div>
			</div>
			<!-- code snippet come below -->
			<div class="libraryuidocs-partials-code">
				<span class="libraryuidocs-partials-code-title">Code</span>
				<pre class="prettyprint"><code class="lang-html" style="display:inline-block" ></code></pre>
			</div>
		</div>


    </section>
</article>
<!-- End Module article-->
