<!-- Module article-->
<article class="libraryuidocs-module-article" id="checkbox">
    <div class="libraryuidocs-module-article-header">
        <h1 class="libraryuidocs-module-article-title libraryuidocsh1">Checkbox</h1>
    </div>
    <div>
        <p>This is a pure CSS only checkbox implementation, which can be used in forms.</p>
        <p>Note the "input" ID and the "label" "for" to set the multiple checkbox triggers. Both has to be same name</p>
    </div>
    <section class="libraryuidocs-module-article-content">

    	<!-- Your Element/Sub elements starts here -->
		<div class="libraryuidocs-partials">
			<h2 class="libraryuidocs-partials-title libraryuidocsh2">CSS only Checkbox</h2>
			<!-- Your element code starts here -->
			<div class="classnameui-checkbox">
	            <input type="checkbox" id="checkbox1"> 
	            <label for="checkbox1">
	                <div>
	                    <i class="classnameui-checkbox-check fa fa-check"></i>
	                </div>  
	            </label>
	        </div>
			<!-- Your element code ends here -->
			<!-- code snippet come below -->
			<div class="libraryuidocs-partials-code">
				<span class="libraryuidocs-partials-code-title">Code</span>
				<pre class="prettyprint"><code class="lang-html" style="display:inline-block" ></code></pre>
			</div>
		</div>

		<!-- Your Element/Sub elements starts here -->
		<div class="libraryuidocs-partials">
			<h2 class="libraryuidocs-partials-title libraryuidocsh2">CSS only Checkbox with label</h2>
			<!-- Your element code starts here -->
			<div class="classnameui-checkbox">
	            <input type="checkbox" id="checkbox2"> 
	            <label for="checkbox2">
	                <div>
	                    <i class="classnameui-checkbox-check fa fa-check"></i>
	                </div>  
	            </label>
	            <label class="classnameui-checkbox-text">Checkbox Label</label>
	        </div>
			<!-- Your element code ends here -->
			<!-- code snippet come below -->
			<div class="libraryuidocs-partials-code">
				<span class="libraryuidocs-partials-code-title">Code</span>
				<pre class="prettyprint"><code class="lang-html" style="display:inline-block" ></code></pre>
			</div>
		</div>

    </section>
</article>
<!-- End Module article-->

