<!-- Module article-->
<article class="libraryuidocs-module-article" id="datepicker">
    <div class="libraryuidocs-module-article-header">
        <h1 class="libraryuidocs-module-article-title libraryuidocsh1">Date Picker</h1>
    </div>
    <section class="libraryuidocs-module-article-content">

    	<!-- Your Element/Sub elements starts here -->
		<div class="libraryuidocs-partials">
			<h2 class="libraryuidocs-partials-title libraryuidocsh2">Date picker functionality from MetroUI</h2>
			<!-- Your element code starts here -->
			<div class="row">
				<div class="col-sm-6">
					<h4>Default Datepicker</h4>
			        <div class="classnameui-datepicker classnameui-input"id="datepicker" data-role="datepicker" data-start-mode="year" data-format="d, mmmm, yyyy">
			        	<div class="classnameui-callendar-icon">
				            <i class="fa fa-calendar"></i>
				          </div>
						<input id="" type="text" id="datepickerInput" required="required" placeholder="enter your date"  onfocus="this.placeholder = ''" onblur="this.placeholder = 'enter your date'"/>
					</div>
				</div>
				<div class="col-sm-6">
					<h4>Floating Label Datepicker</h4>
			        <div class="classnameui-datepicker classnameui-floating-input"id="datepicker" data-role="datepicker" data-start-mode="year" data-format="d, mmmm, yyyy">
			        	<div class="classnameui-callendar-icon">
				            <i class="fa fa-calendar"></i>
				          </div>
						<input id="" type="text" id="datepickerInput" required="required"/>
						<label for="datepickerInput">Select Date</label>
					</div>
				</div>
			</div>
			<!-- Your element code ends here -->
			<!-- code snippet come below -->
			<div class="libraryuidocs-partials-code">
				<span class="libraryuidocs-partials-code-title">Code</span>
				<pre class="prettyprint"><code class="lang-html" style="display:inline-block" ></code></pre>
			</div>
		</div>
    </section>
</article>
<!-- End Module article-->

