<!-- Module article-->
<article class="libraryuidocs-module-article" id="inputtext">
    <div class="libraryuidocs-module-article-header">
        <h1 class="libraryuidocs-module-article-title libraryuidocsh1">Input Text</h1>
    </div>
    <section class="libraryuidocs-module-article-content">


		<!-- Your Element/Sub elements starts here -->
		<div class="libraryuidocs-partials">
			<h2 class="libraryuidocs-partials-title libraryuidocsh2">Default - Input text with placeholder</h2>
				
			<!-- Your element code starts here -->
			<p>A simple input text field with placeholder. On focus the placeholder text disappears and on blur the placeholder text appears back.</p>
			<div class="classnameui-input">
				<input id="" type="text" placeholder="enter your text"  onfocus="this.placeholder = ''" onblur="this.placeholder = 'enter your text'" />
			</div>
			<p>Styled Disabled- Input Text</p>
			<div class="classnameui-input">
				<input id="" type="text" placeholder="enter your text"  onfocus="this.placeholder = ''" onblur="this.placeholder = 'enter your text'" disabled="disabled" />
			</div>
			<p>Styled Error- Input Text</p>
			<div class="classnameui-input classnameui-input-error">
				<input id="" type="text" placeholder="enter your text"  onfocus="this.placeholder = ''" onblur="this.placeholder = 'enter your text'" />
			</div>
			<!-- Your element code ends here -->
			<!-- code snippet come below -->
			<div class="libraryuidocs-partials-code">
				<span class="libraryuidocs-partials-code-title">Code</span>
				<pre class="prettyprint"><code class="lang-html" style="display:inline-block" ></code></pre>
			</div>
		</div>

		<!-- Your Element/Sub elements starts here -->
		<div class="libraryuidocs-partials">
			<h2 class="libraryuidocs-partials-title libraryuidocsh2">Floating - Input text with label placeholder</h2>
				
			<!-- Your element code starts here -->
			<p>Input with Floating labels</p>
			<div class="classnameui-floating-input">
				<input id="" type="text" required="required"/>
				<label for="">First Name</label>
			</div>
			<p>Disabled- Floating Input Text</p>
			<div class="classnameui-floating-input">
				<input id="" type="text" required="required" disabled="disabled"/>
				<label for="">First Name</label>
			</div>
			<p>Error- Floating Input Text</p>
			<div class="classnameui-floating-input classnameui-input-error">
				<input id="" type="text" required="required"/>
				<label for="">First Name</label>
			</div>
			<!-- Your element code ends here -->
			<!-- code snippet come below -->
			<div class="libraryuidocs-partials-code">
				<span class="libraryuidocs-partials-code-title">Code</span>
				<pre class="prettyprint"><code class="lang-html" style="display:inline-block" ></code></pre>
			</div>
		</div>

    </section>
</article>
<!-- End Module article-->

