<!-- Module article-->
<article class="libraryuidocs-module-article" id="radiobutton">
    <div class="libraryuidocs-module-article-header">
        <h1 class="libraryuidocs-module-article-title libraryuidocsh1">Radio Buttons</h1>
    </div>
    <section class="libraryuidocs-module-article-content">

    	<!-- Your Element/Sub elements starts here -->
		<div class="libraryuidocs-partials">
			<h2 class="libraryuidocs-partials-title libraryuidocsh2">Default Radio Button</h2>
			<!-- Your element code starts here -->
      <p>The default radio button can only be selected by clicking on the radio button itself. The label is separate from the radio button itself.</p>
                <div  class="classnameui-radio-block">
                    <input type="radio" id="radio01" name="radio" />
                        <label class="classnameui-radio-label" for="radio01">
                              <span class="classnameui-radio-outer"><span class="classnameui-radio-inner"></span></span>
                        </label>
                        <span class="classnameui-radio-label-text">Radio button label</span>
                </div>
                <div  class="classnameui-radio-block">
                    <input type="radio" id="radio02" name="radio" />
                        <label class="classnameui-radio-label" for="radio02">
                              <span class="classnameui-radio-outer"><span class="classnameui-radio-inner"></span></span>
                        </label>
                        <span class="classnameui-radio-label-text">Radio button label</span>
                </div>
			<!-- Your element code ends here -->
			<!-- code snippet come below -->
			<div class="libraryuidocs-partials-code">
				<span class="libraryuidocs-partials-code-title">Code</span>
				<pre class="prettyprint"><code class="lang-html" style="display:inline-block" ></code></pre>
			</div>
		</div>

    <!-- Your Element/Sub elements starts here -->
    <div class="libraryuidocs-partials">
      <h2 class="libraryuidocs-partials-title libraryuidocsh2">Radio Button with Label clickable</h2>
      <!-- Your element code starts here -->
      <p>In this radio button the label itself is actionable to select the radio button functionality..</p>
                <div  class="classnameui-radio-block">
                    <input type="radio" id="radio03" name="radio" />
                        <label class="classnameui-radio-label" for="radio03">
                              <span class="classnameui-radio-outer"><span class="classnameui-radio-inner"></span></span>
                            <span class="classnameui-radio-label-text">Text Comes Here</span>
                        </label>
                </div>
                <div  class="classnameui-radio-block">
                    <input type="radio" id="radio04" name="radio" />
                        <label class="classnameui-radio-label" for="radio04">
                              <span class="classnameui-radio-outer"><span class="classnameui-radio-inner"></span></span>
                            <span class="classnameui-radio-label-text">Text Comes Here</span>
                        </label>
                </div>
      <!-- Your element code ends here -->
      <!-- code snippet come below -->
      <div class="libraryuidocs-partials-code">
        <span class="libraryuidocs-partials-code-title">Code</span>
        <pre class="prettyprint"><code class="lang-html" style="display:inline-block" ></code></pre>
      </div>
    </div>


    </section>
</article>
<!-- End Module article-->

