<!-- Module article-->
<!-- <script src="js/charactercounter.js"></script> -->
<article class="libraryuidocs-module-article" id="textarea">
    <div class="libraryuidocs-module-article-header">
        <h1 class="libraryuidocs-module-article-title libraryuidocsh1">Text Area</h1>
    </div>
    <section class="libraryuidocs-module-article-content">

    	<!-- Your Element/Sub elements starts here -->
		<div class="libraryuidocs-partials">
			<h2 class="libraryuidocs-partials-title libraryuidocsh2">Text Area - with placeholder</h2>
			<!-- Your element code starts here -->
			<div class="classnameui-textarea">
                <textarea id="" required="required" placeholder="enter your text"  onfocus="this.placeholder = ''" onblur="this.placeholder = 'enter your text'"></textarea>
			</div>
			<!-- Your element code ends here -->
			<!-- code snippet come below -->
			<div class="libraryuidocs-partials-code">
				<span class="libraryuidocs-partials-code-title">Code</span>
				<pre class="prettyprint"><code class="lang-html" style="display:inline-block" ></code></pre>
			</div>
		</div>

		<!-- Your Element/Sub elements starts here -->
		<div class="libraryuidocs-partials">
			<h2 class="libraryuidocs-partials-title libraryuidocsh2">Text Area - with placeholder and text character counter</h2>
			<!-- Your element code starts here -->
			<div class="classnameui-textarea">
                <textarea id="textareaCounter" required="required" placeholder="enter your text"  onfocus="this.placeholder = ''" onblur="this.placeholder = 'enter your text'"></textarea>
                <div class="classnameui-char-counter" id="charNum">500 character(s) remaining</div>
			</div>
			
			<!-- Your element code ends here -->
			<!-- code snippet come below -->
			<div class="libraryuidocs-partials-code">
				<span class="libraryuidocs-partials-code-title">Code</span>
				<pre class="prettyprint"><code class="lang-html" style="display:inline-block" ></code></pre>
			</div>
		</div>

		<!-- Your Element/Sub elements starts here -->
		<div class="libraryuidocs-partials">
			<h2 class="libraryuidocs-partials-title libraryuidocsh2">Text Area - Disabled</h2>
			<!-- Your element code starts here -->
			<div class="classnameui-textarea">
                <textarea id="textareaCounter" required="required" placeholder="enter your text"  onfocus="this.placeholder = ''" onblur="this.placeholder = 'enter your text'" disabled="disabled"></textarea>
                <div class="classnameui-char-counter" id="charNum">500 character(s) remaining</div>
			</div>
			<!-- Your element code ends here -->
			<!-- code snippet come below -->
			<div class="libraryuidocs-partials-code">
				<span class="libraryuidocs-partials-code-title">Code</span>
				<pre class="prettyprint"><code class="lang-html" style="display:inline-block" ></code></pre>
			</div>
		</div>

    </section>
</article>
<!-- End Module article-->

