<!-- Module article-->
<article class="libraryuidocs-module-article" id="typography">
    <div class="libraryuidocs-module-article-header">
        <h1 class="libraryuidocs-module-article-title libraryuidocsh1">Typography</h1>
    </div>
    <section class="libraryuidocs-module-article-content">

    	<!-- Your Element/Sub elements starts here -->
		<div class="libraryuidocs-partials">
			<h2 class="libraryuidocs-partials-title libraryuidocsh2">Various header tags</h2>
			<!-- Your element code end here -->
			<h1>This is an h1 element</h1>
			<h2>This is an h2 element</h2>
			<h3>This is an h3 element</h3>
			<h4>This is an h4 element</h4>
			<h5>This is an h5 element</h5>
			<h6>This is an h6 element</h6>

			

		<!-- code snippet come below -->
			<div class="libraryuidocs-partials-code">
				<span class="libraryuidocs-partials-code-title">Code</span>
				
				<pre class="prettyprint"><code class="lang-html" style="display:inline-block" ></code></pre>

			</div>
		</div>
		<!-- Your Element/Sub elements starts here -->
		<div class="libraryuidocs-partials">
			<h2 class="libraryuidocs-partials-title libraryuidocsh2">Paragraph</h2>
			<!-- Your element code start here -->
			<p>Passwords must begin and end with a letter and contain at least one number. A minimum of 8 characters is required.</p>		
			<!-- Your element code end here -->
			<!-- code snippet come below -->
			<div class="libraryuidocs-partials-code">
				<span class="libraryuidocs-partials-code-title">Code</span>				
				<pre class="prettyprint"><code class="lang-html" style="display:inline-block" ></code></pre>
			</div>
		</div>
        
        <!-- Your Element/Sub elements starts here -->
		<div class="libraryuidocs-partials">
			<h2 class="libraryuidocs-partials-title libraryuidocsh2">Link</h2>
			<!-- Your element code start here -->
			<a href"javascript:void(0);">This is a link</a>		
			<!-- Your element code end here -->
			<!-- code snippet come below -->
			<div class="libraryuidocs-partials-code">
				<span class="libraryuidocs-partials-code-title">Code</span>				
				<pre class="prettyprint"><code class="lang-html" style="display:inline-block" ></code></pre>
			</div>
		</div>
        
    </section>
</article>
<!-- End Module article-->


