<!-- Module article-->
<article class="libraryuidocs-module-article" id="accordion">
    <div class="libraryuidocs-module-article-header">
        <h1 class="libraryuidocs-module-article-title libraryuidocsh1">Accordion</h1>
    </div>
    <p>Note: All functionalities with JQuery is for Demo purpose only and not part of the main Pattern Library!
    </p>
    <section class="libraryuidocs-module-article-content">
        <!-- Your Element/Sub elements starts here -->
        <div class="libraryuidocs-partials">
            <h2 class="libraryuidocs-partials-title libraryuidocsh2">Nested Accordions (opens one at a time)</h2>
            <!-- Your element code starts here -->
            <div class="classnameui-accordion">
                <ul class="classnamejs-accordion">
                    <li>
                        <a class="classnameui-toggle classnamejs-toggle" href="javascript:void(0);">Item 1</a>
                        <ul class="classnameui-inner ">
                            <li>Option 1</li>
                            <li>Option 2</li>
                            <li>Option 3</li>
                        </ul>
                    </li>
                    <li>
                        <a class="classnameui-toggle classnamejs-toggle" href="javascript:void(0);">Item 2</a>
                        <ul class="classnameui-inner">
                            <li>Option 1</li>
                            <li>Option 2</li>
                            <li>Option 3</li>
                        </ul>
                    </li>
                    <li>
                        <a class="classnameui-toggle classnamejs-toggle" href="javascript:void(0);">Item 3</a>
                        <ul class="classnameui-inner">
                            <li>
                                <a class="classnameui-toggle classnamejs-toggle" href="javascript:void(0);">Open Inner</a>
                                <div class="classnameui-inner">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempus placerat fringilla. Duis a elit et dolor laoreet volutpat. Aliquam ultrices mauris id mattis imperdiet. Aenean cursus ultrices justo et varius. Suspendisse aliquam orci id dui dapibus blandit. In hac habitasse platea dictumst. Sed risus velit, pellentesque eu enim ac, ultricies pretium felis.</p>
                                </div>
                            </li>
                            <li>
                                <a class="classnameui-toggle classnamejs-toggle" href="javascript:void(0);">Open Inner #2</a>
                                <div class="classnameui-inner">
                                    <p>Children will automatically close upon closing its parent.</p>
                                </div>
                            </li>
                            <li>Option 3</li>
                        </ul>
                    </li>
                    <li>
                        <a class="classnameui-toggle classnamejs-toggle" href="javascript:void(0);">Item 4</a>
                        <ul class="classnameui-inner">
                            <li>
                                <a class="classnameui-toggle classnamejs-toggle" href="javascript:void(0);">Technically any number of nested elements</a>
                                <ul class="classnameui-inner">
                                    <li>
                                        <a class="classnameui-toggle classnamejs-toggle" href="javascript:void(0);">Another nested element</a>
                                        <div class="classnameui-inner">
                                            <p>As long as the inner element has inner as one of its classes then it will be toggle classnamejs-toggled.</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempus placerat fringilla. Duis a elit et dolor laoreet volutpat. Aliquam ultrices mauris id mattis imperdiet. Aenean cursus ultrices justo et varius. Suspendisse aliquam orci id dui dapibus blandit. In hac habitasse platea dictumst. Sed risus velit, pellentesque eu enim ac, ultricies pretium felis.</p>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>Option 2</li>
                            <li>Option 3</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- Your element code ends here -->
            <!-- code snippet come below -->
            <div class="libraryuidocs-partials-code">
                <span class="libraryuidocs-partials-code-title">Code</span>
                <pre class="prettyprint">
                    <code class="lang-html" style="display:inline-block"></code>
                </pre>
            </div>
        </div>
    </section>

</article>
<!-- End Module article-->