<!-- Module article-->
<article class="libraryuidocs-module-article" id="carousel">
    <div class="libraryuidocs-module-article-header">
        <h1 class="libraryuidocs-module-article-title libraryuidocsh1">Carousel</h1>
    </div>
    <section class="libraryuidocs-module-article-content">

        <!-- Your Element/Sub elements starts here -->
        <div class="libraryuidocs-partials">
            <h2 class="libraryuidocs-partials-title libraryuidocsh2">Carousel with card inside</h2>
            <!-- Your element code starts here -->
            <div id="classnamejs-carousel" class="classnameui-carousel">
                <!-- Wrapper for Slides -->
                <div class="classnameui-carousel-inner">
                    <div id="Carouselitem1" class="show">
                        <!-- Wrapper for Slides -->
                        <div class="classnameui-card">
                            <div class="classnameui-card-image">
                                <img alt="" src="assets/images/carousel1.jpg">
                            </div>
                            <div class="classnameui-card-content flex-column">
                                <div class="classnameui-content-section flex-1">
                                    <h3><a href="">The card title 1</a></h3>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore..</p>
                                </div>
                                <div class="classnameui-content-link">
                                    <a href="">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="Carouselitem2" class="hide">
                        <!-- Wrapper for Slides -->
                        <div class="classnameui-card">
                            <div class="classnameui-card-image">
                                <img alt="" src="assets/images/carousel2.jpg">
                            </div>
                            <div class="classnameui-card-content flex-column">
                                <div class="classnameui-content-section flex-1">
                                    <h3><a href="">The card title 2</a></h3>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore..</p>
                                </div>
                                <div class="classnameui-content-link">
                                    <a href="">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="Carouselitem3" class="hide">
                        <!-- Wrapper for Slides -->
                        <div class="classnameui-card">
                            <div class="classnameui-card-image">
                                <img alt="" src="assets/images/carousel3.jpg">
                            </div>
                            <div class="classnameui-card-content flex-column">
                                <div class="classnameui-content-section flex-1">
                                    <h3><a href="">The card title 3</a></h3>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore..</p>
                                </div>
                                <div class="classnameui-content-link">
                                    <a href="">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Indicators -->
                <div class="classnameui-carousel-indicators">
                    <ol>
                        <li data-target="#classnamejs-carousel" data-slide-to="1" class="active"></li>
                        <li data-target="#classnamejs-carousel" data-slide-to="2" class=""></li>
                        <li data-target="#classnamejs-carousel" data-slide-to="3" class=""></li>
                    </ol>
                    <!-- Controls -->
                    <div class="classnameui-carousel-controls">
                        <a class="classnameui-prev" href="#classnamejs-carousel" data-slide="prev">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                        </a>
                        <a class="classnameui-next" href="#classnamejs-carousel" data-slide="next">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Your element code ends here -->
            <!-- code snippet come below -->
            <div class="libraryuidocs-partials-code">
                <span class="libraryuidocs-partials-code-title">Code</span>
                <pre class="prettyprint"><code class="lang-html" style="display:inline-block"></code></pre>
            </div>
        </div>
    </section>
</article>
<!-- End Module article-->

