<!-- Module article-->
<article class="libraryuidocs-module-article" id="modal">
    <div class="libraryuidocs-module-article-header">
        <h1 class="libraryuidocs-module-article-title libraryuidocsh1">Modal</h1>
    </div>
    <section class="libraryuidocs-module-article-content">
        <!-- Your Element/Sub elements starts here -->
        <div class="libraryuidocs-partials">
            <!-- Your element code starts here -->
            <h2 class="libraryuidocs-partials-title libraryuidocsh2">Modal Window - done with Bootstrap</h2>
            <p class="libraryuidocs-notes"></p>
            <!-- Start Modal Window-->
                <div class="classnameui-ext-modal">
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                          </div>
                          <div class="modal-body">
                            ...
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default classnameui-button classnameui-small" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary classnameui-button classnameui-small">Save changes</button>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            <!-- End Modal Window-->
            <!-- Start modal trigger -->
                <a href="" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                  Launch demo modal
                </a>
            <!-- End modal trigger -->
            <!-- Your element code ends here -->
            <!-- code snippet come below -->
            <div class="libraryuidocs-partials-code">
                <span class="libraryuidocs-partials-code-title">Code</span>
                <pre class="prettyprint"><code class="lang-html" style="display:inline-block"></code></pre>
            </div>
        </div>
    </section>
    </article