<!-- Module article-->
<article class="libraryuidocs-module-article" id="tabs">
    <div class="libraryuidocs-module-article-header">
        <h1 class="libraryuidocs-module-article-title libraryuidocsh1">Tabs</h1>
    </div>
    <section class="libraryuidocs-module-article-content">
        <!-- Your Element/Sub elements starts here -->
        <div class="libraryuidocs-partials">
            <h2 class="libraryuidocs-partials-title libraryuidocsh3">Horizontal Tabs</h2>
            <p class="libraryuidocs-notes"></p>
            <!-- Your element code starts here -->
            <div class="classnameui-tabs-container">
                <ul class="classnamejs-tabs">
                    <li class="classnamejs-tabs-current classnameui-tab-current" data-tab="tab-1">Tab One</li>
                    <li class="" data-tab="tab-2">Tab Two</li>
                    <li class="" data-tab="tab-3">Tab Three</li>
                </ul>
                <div id="tab-1" class="classnameui-tab-content classnameui-tab-current classnamejs-tab-content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
                <div id="tab-2" class="classnameui-tab-content classnamejs-tab-content">
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
                <div id="tab-3" class="classnameui-tab-content classnamejs-tab-content">
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </div>
            </div>
            <!-- Your element code ends here -->
            <!-- code snippet come below -->
            <div class="libraryuidocs-partials-code">
                <span class="libraryuidocs-partials-code-title">Code</span>
                <pre class="prettyprint">
                    <code class="lang-html" style="display:inline-block"></code>
                </pre>
            </div>
        </div>
    </section>
</article>
<!-- End Module article-->