/* Code for the Button default with 'Add' icon */
<button class="classnameui-button" type="button"><i class="classnameui-icon classnameui-button-icon-right fa fa-plus-circle"></i>Add</button>

/* Code for the Button default with 'Edit' icon */
<button class="classnameui-button" type="button"><i class="classnameui-icon classnameui-button-icon-right fa fa-pencil-square-o"></i>Edit</button>

/* Code for the Button small with 'Done' icon */
<button class="classnameui-button classnameui-small" type="button"><i class="classnameui-icon classnameui-button-icon-right fa fa-check-circle"></i>Done</button>

/* Code for the button small */
<button class="classnameui-button classnameui-oval" type="button">Search <i class="classnameui-icon fa fa-search"></i></button>