<!-- Default Datepicker -->
<div class="classnameui-datepicker classnameui-input"id="datepicker" data-role="datepicker" data-start-mode="year" data-format="d, mmmm, yyyy">
    <div class="classnameui-callendar-icon">
        <i class="fa fa-calendar"></i>
      </div>
    <input id="" type="text" id="datepickerInput" required="required" placeholder="enter your date"  onfocus="this.placeholder = ''" onblur="this.placeholder = 'enter your date'"/>
</div>

<!-- Floating label datepicker -->

<div class="classnameui-datepicker classnameui-floating-input"id="datepicker" data-role="datepicker" data-start-mode="year" data-format="d, mmmm, yyyy">
    <div class="classnameui-callendar-icon">
        <i class="fa fa-calendar"></i>
      </div>
    <input id="" type="text" id="datepickerInput" required="required"/>
    <label for="datepickerInput">Select Date</label>
</div>