<!--A simple input text field with placeholder. On focus the placeholder text disappears and on blur the placeholder text appears back.-->
<div class="classnameui-input">
 <input id="" type="text" placeholder="enter your text"  onfocus="this.placeholder = ''" onblur="this.placeholder = 'enter your text'" />
</div>

<!--Styled Disabled- Input Text-->
<div class="classnameui-input">
 <input id="" type="text" placeholder="enter your text"  onfocus="this.placeholder = ''" onblur="this.placeholder = 'enter your text'" disabled="disabled" />
</div>

<!--Styled Error- Input Text-->
<div class="classnameui-input classnameui-input-error">
 <input id="" type="text" placeholder="enter your text"  onfocus="this.placeholder = ''" onblur="this.placeholder = 'enter your text'" />
</div>