<!--Input with floating labels-->
<div class="classnameui-Floating-input">
 <input id="" type="text" required="required"/>
 <label for="">First Name</label>
</div>

<!--Disabled- Floating Input Text-->
<div class="classnameui-floating-input">
 <input id="" type="text" required="required" disabled="disabled"/>
 <label for="">First Name</label>
</div>

<!--Error- Floating Input Text-->
<div class="classnameui-floating-input classnameui-input-error">
 <input id="" type="text" required="required"/>
 <label for="">First Name</label>
</div>